<h1>Hustle Dashboard</h1>


<div>
  Contact suggestions, search LinkedIn for related connections that already exist but current_user isnt connected with?
</div>

<div>
 sorted rolodex
</div>

<div>
  link to interactions analytics
</div>

<div>
Your "Network's Health"
</div>

<%= month_calendar events: @events do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.title, event_path(meeting)  %>
    </div>
  <% end %>
<% end %>


<div>
  Other stuff?
</div>

<div>
  <%= link_to "Hustle Analysis", dashboard_analytics_path %>
</div>
<p>
<h2>Expand your network by integrating your hustle network with friends></h2>
  <div>
    People you may know:
    <% @other_users.each do |user| %>
    <p><%= user.username %>
    <%= link_to "Request Synergy", "/" %>  This needs to create a request to this other user to merge contacts,
                                                A Req goes to the other user and then, upon approval, contacts are combined
                                                alert messages for each of these actions
    </p>
     <%#picture%>
  <% end %>
  </div>
</p>
