

<%= form_for @connection do |f| %>
  <p><%= f.label :name   %>
  <%= f.text_field :name   %> </p>

  <p><%= f.label :initial_meet  %>
  <%= f.text_field :initial_meet   %></p>

  <p><%= f.label :organization   %>
  <%= f.text_field :organization   %></p>

  <p><%= f.label :relationship %>
  <%= f.collection_select :relationship_id, Relationship.all, :id, :status %></p>

  <p><%= f.submit %></p>
<% end  %>
