
<header>
<h1><%= current_user.username %>  Net.werk </h1>
</header>

    <main>
      <section class="connections">
        <h2><%= @connection.name %> </h2>
        <div>
          <%= render partial: 'interactions/index' %>
        </div>
        <div>
          <%= render partial: 'interactions/form' %>
        </div>
        <div>
        <%= render partial: 'notes/form' %>
        </div>
        <div>
        <%= render partial: 'notes/index' %>
        </div>
      </section>
    </main>

    <footer>
      <a class="button contact" href="https://twitter.com/d_philla">Follow us on Twitter</a>
    </footer>


