<h2>Interactions with <%= @connection.name %></h2>

<p><%= @interaction.date %></p>
<p><%= @interaction.location %></p>
<p><%= @interaction.event %></p>
<p><%= @interaction.description %></p>

<%= render partial: 'form' %>
