<h2>Interactions with <%= @connection.name %></h2>

<%@interactions.each do |interaction| %>
   <%#<p><%= link_to interaction.date, connection_interaction_path() %></p>%>
   <p><%= interaction.location %></p>
   <p><%= interaction.event %></p>
   <p><%= interaction.description %></p>
<% end %>

