
<header>
  <h1><%= @event.title %></h1>
</header>

<div>
  <%= @event.start_time %>
</div>

<div>
  Cards with people going and links to their connection pages
</div>

<div>
  Hustle friends going
</div>


<footer>
    <div>
      <%= link_to "Edit Event", edit_event_path(@event) %>
    </div>
    <div>
      <%= link_to "Delete Event", event_path(@event), method: :delete %>
    </div>
    <div>
      <%= link_to "All Upcoming Events", events_path %>
    </div>
</footer>
