<!DOCTYPE html>
<html>
  <head>
    <title>TechHustle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://s3.amazonaws.com/aws-website-danielphillips-k44l4/img/favicon.ico" rel="icon" type="image/x-icon" />
  </head>

  <body>

    <% if current_user %>
    <%= current_user.username %>
    <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Login", login_path %> or <%= link_to "Create an Account", new_user_path %>
  <% end %>

      <div id="nav-trigger" class="nav-trigger open">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <nav id="nav" class="out">
        <ul>
          <li><span class="nav-label">Home</span></span></li>
          <li><span class="nav-label">About</span></li>
          <li><span class="nav-label">Work</span></li>
          <li><span class="nav-label">Blog</span></li>
          <li><span class="nav-label">Contact</span></li>
        </ul>
      </nav>

    <%= yield %>

    <footer>
      <a class="button contact" href="http://dphilla.com">More about dphilla</a>
    </footer>

  </body>
</html>
